@charset "utf-8";
@import './normalize';
@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  font-family: Apple SD Gothic Neo, Pretendard, -apple-system, Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  background-color: #fff;
  color: #4d5058;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 960px) {
  html,
  body {
    text-rendering: optimizeLegibility;
  }
}